.box{
    background-color:pink;
    width: 150px;
   }

.btnred{
    width:150px;
    background-color:black;
    color:white;
    


}

.btnwhite {
    
  
  
    color:white;
    width:30px;
    background-color:purple;
    margin-right:4px;
 
    
}

.btnblack {
    
    
    
    color:black;
    width:50px;
    
}
